<ul>
    <li>
        <!-- Defining link -->
        <NavLink href="" Match="NavLinkMatch.All">
            Home
        </NavLink>
    </li>
    <li><NavLink href="href="/new-bug">
        New Bug
        </NavLink></li>
</ul>